* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --bg: #101010;
    --text: #fff;
    --text-dim: #777;
    --border: #333;
    --outline: rgba(255, 255, 255, 0.25);
    --outline-hidden: rgba(255, 255, 255, 0);
    --button-bg-dim: rgba(255, 255, 255, 0.05);
    --button-bg-hover: #fff;
    --blur: rgba(255, 255, 255, 0.2);

    /* misc */
    --theme-switcher-width: 64px;
    --theme-switcher-height: 32px;
    --theme-switcher-icon-size: 24px;
    --theme-switcher-gap: 3px;

    --cursor-size: 36px;
    --cursor-hover-size: 64px;

    --default-transition: all 0.175s ease-out;
    --default-backdrop: blur(12px);
}

html.light:root {
    --bg: #f0f0f0;
    --text: #000;
    --text-dim: #444;
    --border: #ccc;
    --outline: rgba(0, 0, 0, 0.25);
    --outline-hidden: rgba(0, 0, 0, 0);
    --button-bg-dim: rgba(0, 0, 0, 0.07);
    --button-bg-hover: #000;
    --blur: rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Sora', sans-serif;
    background-color: var(--bg);
    color: var(--text);
    transition: var(--default-transition);
}

#container {
    max-width: 380px;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
}

header img {
    border-radius: 50%;
    border: 2px solid var(--border);
    animation: outline-anim 1s ease-out infinite;
    outline-style: solid;
    outline-width: 0;
}

@keyframes outline-anim {
    0% {
        outline-width: 0;
        outline-color: var(--outline);
    }
    100% {
        outline-width: 20px;
        outline-color: var(--outline-hidden);
    }
}

#theme-switcher-container {
    display: flex;
    justify-content: center;
}

#theme-switcher-container button {
    position: relative;

    width: var(--theme-switcher-width);
    height: var(--theme-switcher-height);
    border-radius: 999px;
    background: transparent;
    border: 1px solid var(--border);
    cursor: pointer;
    transition: var(--default-transition);

    backdrop-filter: var(--default-backdrop);
}

#theme-switcher-container button:hover {
    border-color: var(--text);
}

#theme-switcher-container button .icon {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    top: 50%;
    transform: translateY(-50%);

    width: var(--theme-switcher-icon-size);
    height: var(--theme-switcher-icon-size);
    border-radius: 50%;
    z-index: 1;

    color: var(--bg);
    background: var(--text) url('https://n0ky4.github.io/devlinks/assets/moon.svg') no-repeat
        center/20px;

    left: var(--theme-switcher-gap);

    transition: var(--default-transition);
}

#theme-switcher-container button.active .icon {
    background-image: url('https://n0ky4.github.io/devlinks/assets/sun.svg');
    /* Cálculo da posição do ícone:                                             */
    /*      100% => toda a largura do botão (64px)                              */
    /*      gap => espaço entre o ícone e a borda do botão (3px)                */
    /*      icon-size => tamanho do ícone (24px)                                */
    /* Então pegamos o tamanho total e subtraímos o espaço e o tamanho do ícone */
    left: calc(100% - var(--theme-switcher-gap) - var(--theme-switcher-icon-size));
}

main ul {
    list-style: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

main ul li a {
    display: block;
    padding: 0.5rem;
    border-radius: 0.75rem;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid var(--border);
    color: var(--text);
    transition: var(--default-transition);
    backdrop-filter: var(--default-backdrop);
}

main ul li a:hover {
    background-color: var(--text);
    border-color: var(--text);
    color: var(--bg);
    box-shadow: 6px 6px 30px var(--blur);
}

#links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
}

#links a {
    background: var(--button-bg-dim);
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    font-size: 24px;
    padding: 0.5rem;
    transition: var(--default-transition);
    backdrop-filter: var(--default-backdrop);
}

#links a:hover {
    background: var(--button-bg-hover);
    color: var(--bg);
    box-shadow: 6px 6px 30px var(--blur);
}

footer {
    padding: 1rem 0;
}

footer span {
    display: block;
    text-align: center;
    color: var(--text-dim);
    font-size: small;
}

footer span a {
    color: var(--text);
    text-decoration: none;
    border-bottom: 2px dotted var(--text);
    transition: var(--default-transition);
}

footer span a:hover {
    opacity: 0.6;
}

.cursor {
    position: fixed;
    z-index: 999;
    pointer-events: none;
    border-radius: 50%;
    background-color: #fff;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);

    top: calc(100vh / 2);
    left: calc(100vw / 2);
    width: var(--cursor-size);
    height: var(--cursor-size);

    transition: width 0.2s ease-out, height 0.2s ease-out, background-color 0.175s ease-out,
        opacity 0.5s ease-out;
    opacity: 1;
}

.cursor.hover {
    width: var(--cursor-hover-size);
    height: var(--cursor-hover-size);
}

.hidden {
    opacity: 0;
}

ion-icon,
.icon {
    pointer-events: none;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
